<!-- transaction-form.component.html -->
<div class="card card-body">
    <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label" >Description:</label>
            <input class="form-control" type="text" formControlName="description" />
        </div>
        <div class="mb-3">
            <label class="form-label" >Amount:</label>
            <input class="form-control" type="number" formControlName="amount">
        </div>
        <button class="btn btn-primary btn-sm" type="submit">Add Transaction</button>
    </form>
</div>